<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>851493425-4rmofsa9epi728u0fv2i5ia72trgppqk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.851493425-4rmofsa9epi728u0fv2i5ia72trgppqk</string>
	<key>API_KEY</key>
	<string>AIzaSyCW6DIXTX5Z0bmjQT9iYAReIdmnk8q1gG8</string>
	<key>GCM_SENDER_ID</key>
	<string>851493425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projetoIntegrador.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>projeto-integrador-27d37</string>
	<key>STORAGE_BUCKET</key>
	<string>projeto-integrador-27d37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:851493425:ios:934320ec33dc254dc1cb10</string>
</dict>
</plist>